In [18]:
import pyspark

In [19]:
from pyspark.sql import SparkSession

In [20]:
#starting a spark session
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [21]:
spark

In [22]:
#importing a dataset and considering the 1st row as column header. 
df_pyspark=spark.read.csv(r"C:\Users\kunal\Desktop\Github projects\studentNames.csv",header=True, inferSchema=True)
#If inferSchema=False, it will consider all the values as string.

<h2>Preprocessing on the dataset</h2>

In [23]:
df_pyspark.head(3)
#output is in list format

[Row(Roll No.=1, Surname='Chauhan', Name='Paridhee', Father='P.', Age=1),
 Row(Roll No.=2, Surname='Desai', Name='Yashvi', Father='R.', Age=2),
 Row(Roll No.=3, Surname='Dheriwala', Name='Bibi Fatema', Father='Mo. J.', Age=3)]

In [24]:
#printing schema of dataset
df_pyspark.printSchema

In [25]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [26]:
df_pyspark.columns

['Roll No.', 'Surname', 'Name', 'Father', 'Age']

In [27]:
df_pyspark.select('Name')
df_pyspark.select('Name').show()

+-----------+
|       Name|
+-----------+
|   Paridhee|
|     Yashvi|
|Bibi Fatema|
|      Vidhi|
|      Manya|
|    Trishvi|
|      Tithi|
|       Heer|
|       Keya|
|     Krisha|
|      Navya|
|     Riddhi|
|    Hirisha|
|    Ridhima|
|       Heer|
|       Mahi|
|      Divya|
|       Viva|
|      Aarya|
|      Aarya|
+-----------+
only showing top 20 rows

In [28]:
df_pyspark.select('Name','Surname').show()

+-----------+---------+
|       Name|  Surname|
+-----------+---------+
|   Paridhee|  Chauhan|
|     Yashvi|    Desai|
|Bibi Fatema|Dheriwala|
|      Vidhi| Ghadiali|
|      Manya|  Kapadia|
|    Trishvi|  Panchal|
|      Tithi|   Pandya|
|       Heer|    Patel|
|       Keya|    Patel|
|     Krisha|    Patel|
|      Navya|    Patel|
|     Riddhi|    Patel|
|    Hirisha|   Pithva|
|    Ridhima|Prajapati|
|       Heer|  Purohit|
|       Mahi| Rajpriya|
|      Divya|  Rathava|
|       Viva|  Sanghvi|
|      Aarya|     Shah|
|      Aarya|     Shah|
+-----------+---------+
only showing top 20 rows

In [29]:
df_pyspark.dtypes

[('Roll No.', 'int'),
 ('Surname', 'string'),
 ('Name', 'string'),
 ('Father', 'string'),
 ('Age', 'int')]

In [30]:
df_pyspark.describe().show()

+-------+------------------+-------+-----+------+------------------+
|summary|          Roll No.|Surname| Name|Father|               Age|
+-------+------------------+-------+-----+------+------------------+
|  count|                62|     62|   62|    62|                59|
|   mean|              31.5|   null| null|  null|31.983050847457626|
| stddev|18.041618552668716|   null| null|  null|18.215654053610542|
|    min|                 1|   Amin|Aarav|    A.|                 1|
|    max|                62|  Yadav| Zain|    Z.|                62|
+-------+------------------+-------+-----+------+------------------+

In [31]:
#adding column in dataframe
df_pyspark=df_pyspark.withColumn('Age+2',df_pyspark['Age']+2)

In [32]:
df_pyspark.select('Age','Age+2').show()

+----+-----+
| Age|Age+2|
+----+-----+
|   1|    3|
|   2|    4|
|   3|    5|
|   4|    6|
|   5|    7|
|   6|    8|
|   7|    9|
|   8|   10|
|   9|   11|
|  10|   12|
|null| null|
|  12|   14|
|  13|   15|
|  14|   16|
|  15|   17|
|  16|   18|
|  17|   19|
|  18|   20|
|null| null|
|  20|   22|
+----+-----+
only showing top 20 rows

In [33]:
#dropping columns from dataframe
df_pyspark=df_pyspark.drop('Age+2')
df_pyspark.show()

+--------+---------+-----------+------+----+
|Roll No.|  Surname|       Name|Father| Age|
+--------+---------+-----------+------+----+
|       1|  Chauhan|   Paridhee|    P.|   1|
|       2|    Desai|     Yashvi|    R.|   2|
|       3|Dheriwala|Bibi Fatema|Mo. J.|   3|
|       4| Ghadiali|      Vidhi|    M.|   4|
|       5|  Kapadia|      Manya|    J.|   5|
|       6|  Panchal|    Trishvi|    A.|   6|
|       7|   Pandya|      Tithi|    M.|   7|
|       8|    Patel|       Heer|    V.|   8|
|       9|    Patel|       Keya|    J.|   9|
|      10|    Patel|     Krisha|    N.|  10|
|      11|    Patel|      Navya|    J.|null|
|      12|    Patel|     Riddhi|    D.|  12|
|      13|   Pithva|    Hirisha|    S.|  13|
|      14|Prajapati|    Ridhima|    J.|  14|
|      15|  Purohit|       Heer|    M.|  15|
|      16| Rajpriya|       Mahi|    B.|  16|
|      17|  Rathava|      Divya|    N.|  17|
|      18|  Sanghvi|       Viva|    N.|  18|
|      19|     Shah|      Aarya|    D.|null|
|      20|     Shah|      Aarya|    J.|  20|
+--------+---------+-----------+------+----+
only showing top 20 rows

In [34]:
#renaming a column name
df_pyspark=df_pyspark.withColumnRenamed('Name','First Name')
df_pyspark.show()

+--------+---------+-----------+------+----+
|Roll No.|  Surname| First Name|Father| Age|
+--------+---------+-----------+------+----+
|       1|  Chauhan|   Paridhee|    P.|   1|
|       2|    Desai|     Yashvi|    R.|   2|
|       3|Dheriwala|Bibi Fatema|Mo. J.|   3|
|       4| Ghadiali|      Vidhi|    M.|   4|
|       5|  Kapadia|      Manya|    J.|   5|
|       6|  Panchal|    Trishvi|    A.|   6|
|       7|   Pandya|      Tithi|    M.|   7|
|       8|    Patel|       Heer|    V.|   8|
|       9|    Patel|       Keya|    J.|   9|
|      10|    Patel|     Krisha|    N.|  10|
|      11|    Patel|      Navya|    J.|null|
|      12|    Patel|     Riddhi|    D.|  12|
|      13|   Pithva|    Hirisha|    S.|  13|
|      14|Prajapati|    Ridhima|    J.|  14|
|      15|  Purohit|       Heer|    M.|  15|
|      16| Rajpriya|       Mahi|    B.|  16|
|      17|  Rathava|      Divya|    N.|  17|
|      18|  Sanghvi|       Viva|    N.|  18|
|      19|     Shah|      Aarya|    D.|null|
|      20|     Shah|      Aarya|    J.|  20|
+--------+---------+-----------+------+----+
only showing top 20 rows

In [41]:
df_pyspark=df_pyspark.drop('Roll No.')

In [44]:
###dropping rows having atleast one null values
df_pyspark1=df_pyspark.na.drop(how="any").show()

+---------+-----------+------+---+
|  Surname| First Name|Father|Age|
+---------+-----------+------+---+
|  Chauhan|   Paridhee|    P.|  1|
|    Desai|     Yashvi|    R.|  2|
|Dheriwala|Bibi Fatema|Mo. J.|  3|
| Ghadiali|      Vidhi|    M.|  4|
|  Kapadia|      Manya|    J.|  5|
|  Panchal|    Trishvi|    A.|  6|
|   Pandya|      Tithi|    M.|  7|
|    Patel|       Heer|    V.|  8|
|    Patel|       Keya|    J.|  9|
|    Patel|     Krisha|    N.| 10|
|    Patel|     Riddhi|    D.| 12|
|   Pithva|    Hirisha|    S.| 13|
|Prajapati|    Ridhima|    J.| 14|
|  Purohit|       Heer|    M.| 15|
| Rajpriya|       Mahi|    B.| 16|
|  Rathava|      Divya|    N.| 17|
|  Sanghvi|       Viva|    N.| 18|
|     Shah|      Aarya|    J.| 20|
|     Shah|    Srushti|    H.| 21|
|   Shukla|   Yajashvi|    V.| 22|
+---------+-----------+------+---+
only showing top 20 rows

In [43]:
###dropping rows having all null values
df_pyspark2=df_pyspark.na.drop(how="all").show()

+---------+-----------+------+----+
|  Surname| First Name|Father| Age|
+---------+-----------+------+----+
|  Chauhan|   Paridhee|    P.|   1|
|    Desai|     Yashvi|    R.|   2|
|Dheriwala|Bibi Fatema|Mo. J.|   3|
| Ghadiali|      Vidhi|    M.|   4|
|  Kapadia|      Manya|    J.|   5|
|  Panchal|    Trishvi|    A.|   6|
|   Pandya|      Tithi|    M.|   7|
|    Patel|       Heer|    V.|   8|
|    Patel|       Keya|    J.|   9|
|    Patel|     Krisha|    N.|  10|
|    Patel|      Navya|    J.|null|
|    Patel|     Riddhi|    D.|  12|
|   Pithva|    Hirisha|    S.|  13|
|Prajapati|    Ridhima|    J.|  14|
|  Purohit|       Heer|    M.|  15|
| Rajpriya|       Mahi|    B.|  16|
|  Rathava|      Divya|    N.|  17|
|  Sanghvi|       Viva|    N.|  18|
|     Shah|      Aarya|    D.|null|
|     Shah|      Aarya|    J.|  20|
+---------+-----------+------+----+
only showing top 20 rows

In [42]:
###dropping rows having less than threshold number of non null values
df_pyspark3=df_pyspark.dropna(how="any",thresh=2).show()

+---------+-----------+------+----+
|  Surname| First Name|Father| Age|
+---------+-----------+------+----+
|  Chauhan|   Paridhee|    P.|   1|
|    Desai|     Yashvi|    R.|   2|
|Dheriwala|Bibi Fatema|Mo. J.|   3|
| Ghadiali|      Vidhi|    M.|   4|
|  Kapadia|      Manya|    J.|   5|
|  Panchal|    Trishvi|    A.|   6|
|   Pandya|      Tithi|    M.|   7|
|    Patel|       Heer|    V.|   8|
|    Patel|       Keya|    J.|   9|
|    Patel|     Krisha|    N.|  10|
|    Patel|      Navya|    J.|null|
|    Patel|     Riddhi|    D.|  12|
|   Pithva|    Hirisha|    S.|  13|
|Prajapati|    Ridhima|    J.|  14|
|  Purohit|       Heer|    M.|  15|
| Rajpriya|       Mahi|    B.|  16|
|  Rathava|      Divya|    N.|  17|
|  Sanghvi|       Viva|    N.|  18|
|     Shah|      Aarya|    D.|null|
|     Shah|      Aarya|    J.|  20|
+---------+-----------+------+----+
only showing top 20 rows

In [45]:
###dropping the rows which have null is a specified column
df_pyspark4=df_pyspark.dropna(how="any",subset=['Age']).show()

+---------+-----------+------+---+
|  Surname| First Name|Father|Age|
+---------+-----------+------+---+
|  Chauhan|   Paridhee|    P.|  1|
|    Desai|     Yashvi|    R.|  2|
|Dheriwala|Bibi Fatema|Mo. J.|  3|
| Ghadiali|      Vidhi|    M.|  4|
|  Kapadia|      Manya|    J.|  5|
|  Panchal|    Trishvi|    A.|  6|
|   Pandya|      Tithi|    M.|  7|
|    Patel|       Heer|    V.|  8|
|    Patel|       Keya|    J.|  9|
|    Patel|     Krisha|    N.| 10|
|    Patel|     Riddhi|    D.| 12|
|   Pithva|    Hirisha|    S.| 13|
|Prajapati|    Ridhima|    J.| 14|
|  Purohit|       Heer|    M.| 15|
| Rajpriya|       Mahi|    B.| 16|
|  Rathava|      Divya|    N.| 17|
|  Sanghvi|       Viva|    N.| 18|
|     Shah|      Aarya|    J.| 20|
|     Shah|    Srushti|    H.| 21|
|   Shukla|   Yajashvi|    V.| 22|
+---------+-----------+------+---+
only showing top 20 rows

In [55]:
#filling missing/null values
from pyspark.ml.feature import Imputer

imputer = Imputer(inputCols=['Age'],
                  outputCols=["{}_imputed".format(c) for c in ['Age']]).setStrategy("mean")

In [56]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+-----------+------+----+-----------+
|  Surname| First Name|Father| Age|Age_imputed|
+---------+-----------+------+----+-----------+
|  Chauhan|   Paridhee|    P.|   1|          1|
|    Desai|     Yashvi|    R.|   2|          2|
|Dheriwala|Bibi Fatema|Mo. J.|   3|          3|
| Ghadiali|      Vidhi|    M.|   4|          4|
|  Kapadia|      Manya|    J.|   5|          5|
|  Panchal|    Trishvi|    A.|   6|          6|
|   Pandya|      Tithi|    M.|   7|          7|
|    Patel|       Heer|    V.|   8|          8|
|    Patel|       Keya|    J.|   9|          9|
|    Patel|     Krisha|    N.|  10|         10|
|    Patel|      Navya|    J.|null|         31|
|    Patel|     Riddhi|    D.|  12|         12|
|   Pithva|    Hirisha|    S.|  13|         13|
|Prajapati|    Ridhima|    J.|  14|         14|
|  Purohit|       Heer|    M.|  15|         15|
| Rajpriya|       Mahi|    B.|  16|         16|
|  Rathava|      Divya|    N.|  17|         17|
|  Sanghvi|       Viva|    N.|  18|         18|
|     Shah|      Aarya|    D.|null|         31|
|     Shah|      Aarya|    J.|  20|         20|
+---------+-----------+------+----+-----------+
only showing top 20 rows

<h2>Filter Operations</h2>

In [64]:
#students with age more than 40
df_pyspark.filter(df_pyspark['Age']>55).show()

+---------+----------+------+---+
|  Surname|First Name|Father|Age|
+---------+----------+------+---+
|    Vohra|      Zain|    P.| 56|
|     Dola|      Aban|    A.| 57|
|Chaudhari|       Het|    V.| 58|
|   Sheikh|    Tameem|    I.| 59|
|  Solanki|     Aarav|    J.| 60|
|    Jadav|      Neel|    K.| 61|
|  Solanki|      Yami|    A.| 62|
+---------+----------+------+---+

In [58]:
df_pyspark.filter("Age>40").select(['First Name','Age']).show()

+----------+---+
|First Name|Age|
+----------+---+
|     Heyan| 41|
|    Maitra| 42|
|     Param| 43|
|       Yug| 44|
|      Neel| 45|
|     Rudra| 46|
|       Het| 47|
|     Naksh| 48|
|     Navya| 49|
|     Herik| 50|
|    Jenish| 51|
|    Hetang| 52|
|   Yashraj| 53|
|   Dharmik| 54|
|     Arman| 55|
|      Zain| 56|
|      Aban| 57|
|       Het| 58|
|    Tameem| 59|
|     Aarav| 60|
+----------+---+
only showing top 20 rows

In [62]:
#students with age more than 40 AND less than 50
df_pyspark.filter((df_pyspark['Age']>40) & (df_pyspark['Age']<50)).show()

+-------+----------+------+---+
|Surname|First Name|Father|Age|
+-------+----------+------+---+
|  Patel|     Heyan|    K.| 41|
|  Patel|    Maitra|    N.| 42|
|  Patel|     Param|    N.| 43|
|  Patel|       Yug|    R.| 44|
| Purani|      Neel|    S.| 45|
| Rathod|     Rudra|    S.| 46|
|   Shah|       Het|    B.| 47|
|   Shah|     Naksh|    M.| 48|
|   Shah|     Navya|    M.| 49|
+-------+----------+------+---+

In [63]:
#students with age less than 5 OR more than 55
df_pyspark.filter((df_pyspark['Age']>55) | (df_pyspark['Age']<5)).show()

+---------+-----------+------+---+
|  Surname| First Name|Father|Age|
+---------+-----------+------+---+
|  Chauhan|   Paridhee|    P.|  1|
|    Desai|     Yashvi|    R.|  2|
|Dheriwala|Bibi Fatema|Mo. J.|  3|
| Ghadiali|      Vidhi|    M.|  4|
|    Vohra|       Zain|    P.| 56|
|     Dola|       Aban|    A.| 57|
|Chaudhari|        Het|    V.| 58|
|   Sheikh|     Tameem|    I.| 59|
|  Solanki|      Aarav|    J.| 60|
|    Jadav|       Neel|    K.| 61|
|  Solanki|       Yami|    A.| 62|
+---------+-----------+------+---+

In [65]:
#inverse filter
df_pyspark.filter(~(df_pyspark['Age']>5)).show()

+---------+-----------+------+---+
|  Surname| First Name|Father|Age|
+---------+-----------+------+---+
|  Chauhan|   Paridhee|    P.|  1|
|    Desai|     Yashvi|    R.|  2|
|Dheriwala|Bibi Fatema|Mo. J.|  3|
| Ghadiali|      Vidhi|    M.|  4|
|  Kapadia|      Manya|    J.|  5|
+---------+-----------+------+---+

<h2>Group by and Aggregate function</h2>

In [68]:
#groupby
df_pyspark.groupBy('Surname').sum().show()

+--------+--------+
| Surname|sum(Age)|
+--------+--------+
|    Soni|      51|
|   Yadav|      53|
|  Purani|      45|
|Dudhwala|      26|
|  Kharva|      32|
| Sanghvi|      18|
|   Joshi|      31|
| Vaghela|      23|
|   Desai|       2|
| Chauhan|       1|
| Purohit|      15|
|  Jadeja|      30|
|  Sheikh|      59|
| Kapadia|       5|
|  Pandya|      96|
|    Amin|      24|
|Rajpriya|      16|
|  Talati|      52|
|   Jadav|      61|
|    Shah|     185|
+--------+--------+
only showing top 20 rows

In [69]:
df_pyspark.groupBy('Surname').avg().show()

+--------+--------+
| Surname|avg(Age)|
+--------+--------+
|    Soni|    51.0|
|   Yadav|    53.0|
|  Purani|    45.0|
|Dudhwala|    26.0|
|  Kharva|    32.0|
| Sanghvi|    18.0|
|   Joshi|    31.0|
| Vaghela|    23.0|
|   Desai|     2.0|
| Chauhan|     1.0|
| Purohit|    15.0|
|  Jadeja|    30.0|
|  Sheikh|    59.0|
| Kapadia|     5.0|
|  Pandya|    32.0|
|    Amin|    24.0|
|Rajpriya|    16.0|
|  Talati|    52.0|
|   Jadav|    61.0|
|    Shah|    37.0|
+--------+--------+
only showing top 20 rows

In [71]:
df_pyspark.agg({'Age':'sum'}).show()

+--------+
|sum(Age)|
+--------+
|    1887|
+--------+